.sell-content{
    height: 800px;
}
.sell-container{
    margin: 5%  27%;
    position: relative;
  width: 40%;
  height: 80%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 3px 12px rgb(160, 181, 238);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 .output{
    margin: 8% 10%;
    width: 80%;
    display: flex;
  flex-direction: column;
    /* top: 4%;
    margin-top: 9%;
    height: 70%;
    padding: 8% 15%;
    z-index: 1;
    justify-content: center;
    align-items: center; */
} 

.steps{
    position: absolute;
    padding:5% 14%;
}
.msg{
  border-radius: 3px 3px 3px 3px;
  margin: 0 0;
  padding: 10px;
  color: #270;
  background-color: #DFF2BF;
}
